@import "./colors.scss";

.wrapper {
    font-family: 'Source Sans Pro', sans-serif;
}
.wrapper {
    overflow: hidden;
}

.container {
    // max-width: 1260px;
    padding: 0 20px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Source Sans Pro';
    background-color: $COLOR_BLACK1;
    width: 100%;
    color: white
}
