@import './sizes.scss';
@import './colors.scss';

.movie-details {

    &__wrap {
        display: flex;
        flex-wrap: nowrap;

        flex-direction: column;
        
        align-items: center;
        justify-content: space-evenly;
    }
    
    &__poster {
        padding-top: 4*$DS;
        width: 30%;
        height: 400px;
        position: relative;
    }

    &__info {
        margin-top: 4*$DS;
        border-radius: 1*$DS;
        padding: 4*$DS;
        width: 50%;
        background: white;
        opacity: .8;
        box-shadow:
        0px 3px 1px -2px rgb(0 0 0 / 20%),
        0px 1px 1px 0px rgb(0 0 0 / 14%),
        0px 1px 4px 0px rgb(0 0 0 / 12%)
    }

    &__img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    &__btn {
        img {
            max-width: 10*$DS;
            max-height: 10*$DS;
            width: auto;
            height: auto;
        }
        &:hover {
            background-color: $blue-color;
        }
        margin-right: 4*$DS;
    }



    &__title-block {
        display: flex;
        align-items: center;
        margin-bottom: 4*$DS;
    } 

    &__rating,
    &__genres,
    &__countries,
    &__release,
    &__popularity,
    &__vote-count {
        display: block;
        margin-bottom: 4*$DS;
    }

    &__title {
        font-size: 50px;
        color: $COLOR_BLACK1;
        font-weight: bold;
    }

    @mixin counter { 
        border: 1px solid $COLOR_BLACK;
        padding: 1*$DS;
        border-radius: $BORDER_RADIUS;
        font-weight: normal;
        font-size: 6*$DS;
        margin-left: 2*$DS;
    }
    &__rating ,
    &__popularity ,
    &__vote-count {
        @include counter();
    }

    &__rating:before {
        content: "⭐ ";
    }
    &__popularity:before {
        content: "👍 ";
    }
    &__vote-count:before {
        content: "👀 ";
    }

    &__genres {
        font-size: 20px;
        font-weight: lighter;
    }

    &__countries {
        font-size: 20px;
        background: $gray-color;
    }

    &__release {
        font-size: 20px;
        
    }

   
    &__description-title {
        display: block;
        font-size: 25px;
        font-weight: 600;
        color: $blue-color;
    }

    &__description {
        font-size: 20px;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.supers {
    position: fixed;
    width:110vw;
    height:110vh;
    left:-100px;
    right:-100px;
    z-index: -1;
    filter: blur(10px);
    background-size: cover;
    opacity: .2;

}