@import './sizes.scss';
@import './colors.scss';

.movie-details {

    &__wrap {
        display: flex;
        flex-wrap: nowrap;
    }
    
    &__poster {
        width: 30%;
    }
    &__info {
        width: 70%;
    }

    &__img {
        max-width: 300px;
        width: 100%;
        height: 100%;
        max-height: 400px;
    }

    &__title,
    &__rating,
    &__genres,
    &__countries,
    &__release,
    &__popularity,
    &__vote-count {
        display: block;
        margin-bottom: 5px;
    }

    &__title {
        font-size: 50px;
        color: $blue-color;
    }

    &__rating {
        font-size: 20px;
        background: $gray-color;
    }

    &__genres {
        font-size: 20px;
    }

    &__countries {
        font-size: 20px;
        background: $gray-color;
    }

    &__release {
        font-size: 20px;
        
    }

    &__popularity {
        font-size: 20px;
        background: $gray-color;
    }

    &__vote-count {
        font-size: 20px;
    }

    &__description-title {
        display: block;
        font-size: 25px;
        font-weight: 600;
        color: $blue-color;
    }

    &__description {
        font-size: 20px;
    }
}
