@import './sizes.scss';
@import './colors.scss';

$TIME:.3s;

.movie {

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__box {

        padding: 3*$DS 3*$DS;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__card {
        overflow: hidden;

        @media screen and (max-width: $mobile) {
            max-width: 105*$DS;
            min-width: 105*$DS;
        }
        
        @media screen and (min-width: $mobile+1px) {
            max-width: $CARD_WIDTH;
            min-width: $CARD_WIDTH_MIN;
        }
       
        border-radius: $BORDER_RADIUS;
        background-color: #fff;
        background-color: var(--mdc-theme-surface, #fff);
        box-shadow:
        0px 3px 1px -2px rgb(0 0 0 / 20%),
        0px 1px 1px 0px rgb(0 0 0 / 14%),
        0px 1px 4px 0px rgb(0 0 0 / 12%);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        position: relative;
    }

    &__img {
        height: 80*$DS;
        pointer-events: none;
        object-fit: cover;
    }
    &__container-description {
        text-align: left;
        padding: 2*$DS;
    }

    &__image-container {
        padding: 2*$DS;
        display: flex;
        justify-content: center;
        margin-bottom: -38px;
        pointer-events: none;
    }

    .movie__rating {
        text-align: center;
    }
    
    &__title,
    &__rating {
        color: $COLOR_BLACK;
        display: block;
        text-align: inherit;
        pointer-events: none;
    }

    &__title {
        color: $COLOR_BLACK1;
        font-size: $TITLE_SIZE;
        font-weight: bold;
        line-height: 1.22;
        margin-top: $TITLE_MARGIN;
        margin-bottom: $TITLE_MARGIN;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__rating {
        background-color: $blue-color;
        color: white;
        font-size: 6*$DS;
        border-radius: $BORDER_RADIUS;
        position: relative;
        top: -4*$DS;
        left: 4*$DS;
        width: 49px;
    }
    
    &__release {
        &::before{
            content: "Release Date: ";
        }
        color: $blue-color;
        font-size: 3*$DS;
        line-height: 1.22;
        margin-bottom: 2*$DS;
        text-align: right;
    }

    &__popup {
        pointer-events: none; // FIXME: re-check
        color: $COLOR_BLACK;
        
        h3 { 
            color: $COLOR_BLACK1;
            margin-bottom: $DS;
        }
        p {
            font-size: 14px;
        }

        border-radius: $BORDER_RADIUS $BORDER_RADIUS 0 0;
        filter: drop-shadow(0px 0 5px rgba(0,0,0,.2));
        padding: 4*$DS;
        background: white;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -67*$DS;
        width: 100%;
        transition: all $TIME cubic-bezier(0, 0, 0, 1);
    }

    &__moved {
        transition: bottom $TIME cubic-bezier(0, 0, 0, 1);
        bottom: 0;
    }
}